html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 18px "Open Sans", helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
}

h1,
h2,
h3 {
  font-family: "Leckerli One", cursive;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.2s all;
  position: relative;
  background: transparent;
}
a:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: #cc3030;
  bottom: 0;
  left: 0;
  transition: 0.2s all;
  z-index: -1;
}
a:hover, a:focus {
  color: #fff;
}
a:hover:before, a:focus:before {
  height: 1.15em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  clip-path: inset 50%;
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  word-wrap: normal !important;
  position: absolute !important;
  width: 1px;
}

.striped-heading {
  height: 200px;
}

.centered-text {
  margin: 0 auto 30px;
  width: 40%;
  font-weight: 300;
}

@media all and (max-width: 800px) {
  .centered-text {
    width: 80%;
  }
}
.add-spacing {
  padding: 100px 0;
}

.no-display {
  position: absolute;
  left: -9999px;
}

.site-header {
  background: #444;
  color: #f5dc97;
}
.site-header .site-logo,
.site-header .contact,
.site-header .controls {
  padding: 10px;
}
.site-header .site-logo {
  float: left;
  margin: 0 0 0 100px;
}
.site-header .site-logo img {
  height: 100px;
}
.site-header .contact {
  float: left;
  font-size: 14px;
  padding: 1em 1em 1em 2em;
}
.site-header .contact p {
  margin: 0;
}
.site-header .contact p span i {
  color: #fff;
  margin: 0 9px 0 0;
}
.site-header:after {
  display: table;
  content: "";
  clear: both;
}
.site-header .controls {
  display: none;
}
.site-header .controls button {
  border: none;
  background: #f5dc97;
  color: #000;
  transition: 0.3s all;
  padding: 6px 8px;
  border-radius: 2px;
  font-size: 1.4em;
}
.site-header .controls button:hover, .site-header .controls button:focus {
  color: #cc3030;
  background: #fff;
  outline: none;
}
@media all and (max-width: 1100px) {
  .site-header .site-logo,
.site-header .contact {
    width: 100%;
    text-align: center;
  }
  .site-header .site-logo {
    margin: 0;
    padding: 10px 10px 10px 2em;
  }
}
@media all and (max-width: 530px) {
  .site-header .controls {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
  }
}

.main-navigation {
  float: right;
  padding-top: 40px;
}
.main-navigation ul {
  transition: 0.5s height;
}
.main-navigation ul:after {
  display: table;
  content: "";
  clear: both;
}
.main-navigation li {
  position: relative;
  float: left;
}
.main-navigation li .menu-icon {
  position: absolute;
  height: 2.2em;
  top: 0.1em;
  left: 0.2em;
}
.main-navigation li:nth-child(3) {
  /*
              &>a{
                  padding-left: 2em;
              }
  */
}
.main-navigation li:nth-child(3) .menu-icon {
  height: 1.8em;
  top: 0.3em;
}
.main-navigation li:hover img {
  animation: 0.5s shake steps(2, end) infinite;
  transform-origin: center;
}
.main-navigation:hover a {
  color: #fff;
}
.main-navigation a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #f5dc97;
  padding: 10px 1em 10px 2.5em;
  border-bottom: 5px solid #444;
  outline: none;
  transition: 0.2s color;
  font-weight: 700;
}
.main-navigation a:hover, .main-navigation a:focus {
  border-bottom: 5px solid #f5dc97;
  color: #f5dc97;
}
.main-navigation a:hover + .submenu, .main-navigation a:focus + .submenu {
  left: auto;
  top: 100%;
}
.main-navigation i {
  margin: 0 0 0 0.5em;
}
.main-navigation .submenu {
  position: absolute;
  left: -9999px;
  top: 180%;
  width: 100%;
  background: #444;
  transition: 0.2s top;
  z-index: 1;
}
.main-navigation .submenu:after {
  display: table;
  content: "";
  clear: both;
}
.main-navigation .submenu:hover, .main-navigation .submenu:focus {
  top: 100%;
  left: auto;
}
.main-navigation .submenu li {
  float: none;
}
.main-navigation .submenu a {
  border: none;
}
.main-navigation .submenu a:before {
  content: none;
}
.main-navigation .submenu a:first-child {
  padding: 20px 1.75em 10px;
}
@media all and (max-width: 1100px) {
  .main-navigation {
    width: 100%;
    text-align: center;
  }
}
@media all and (max-width: 530px) {
  .main-navigation {
    /*&{
        position: absolute;
        left: -9999px;
    }*/
    padding: 0;
  }
  .main-navigation > ul {
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
    background: #333;
    width: 100%;
  }
  .main-navigation ul ul.submenu {
    left: 0px;
    position: relative;
    display: block;
    padding-left: 3em;
    background: #444;
  }
  .main-navigation ul ul.submenu a {
    border-bottom: none;
  }
  .main-navigation ul ul.submenu a:hover, .main-navigation ul ul.submenu a:focus {
    color: #f5dc97;
  }
  .main-navigation a {
    border-bottom: none;
  }
  .main-navigation a i {
    display: none;
  }
  .main-navigation a:hover, .main-navigation a:focus {
    border-bottom: none;
    color: #f5dc97;
  }
  .main-navigation li {
    float: none;
  }
  .main-navigation li a {
    text-align: left;
    padding-left: 3em;
  }
  .main-navigation li:nth-child(3) a {
    padding-left: 3em;
  }
  .main-navigation.toggled {
    position: relative;
    left: 0;
  }
  .main-navigation.toggled li a {
    text-align: left;
  }
}

@keyframes shake {
  to {
    transform: rotate(25deg);
  }
}
.meats .page-header {
  padding: 30px 200px;
  background: #f5dc97;
  /*background: url('../img/bg7.svg');
  background-repeat: no-repeat;
  background-size: cover;*/
}
.meats .page-header h1 {
  color: #cc3030;
  text-shadow: 1px 1px #8D0003;
  text-align: center;
  font-size: 2.5em;
}
.meats .page-header .knife {
  flex: 1 0;
  height: 100px;
  text-align: right;
}
.meats .page-header .knife.rotated {
  transform: rotate(180deg);
}
@media all and (max-width: 800px) {
  .meats .page-header {
    padding: 50px 0;
  }
  .meats .page-header h1 {
    padding: 10px;
  }
}

.slidein-panel {
  height: 100%;
  position: relative;
  opacity: 0;
  transform: translate(0, 75%);
}
@keyframes slideUp {
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.slidein-panel.animation-not-needed {
  transform: none;
  opacity: 1;
}
.slidein-panel.translated {
  animation: slideUp 0.5s ease forwards;
}
.slidein-panel.translated:nth-child(even) {
  animation-duration: 0.7s;
}

.meat {
  --border: 1px solid #000;
  padding: 50px 200px;
  display: table;
  content: "";
  clear: both;
}
@media all and (max-width: 1400px) {
  .meat {
    padding: 50px 0;
  }
}
.meat .entry-header {
  border-bottom: var(--border);
}
.meat .text,
.meat .image-wrap {
  padding: 20px 50px;
  float: left;
  width: 50%;
}
@media all and (max-width: 1000px) {
  .meat .text,
.meat .image-wrap {
    width: 100%;
  }
}
.meat .cta-btn {
  position: relative;
  top: -2px;
  background: #f5dc97;
  color: #cc3030;
  font-family: "Leckerli One", cursive;
  box-shadow: 3px 3px #bba563;
  transition: 0.2s all;
  margin: 10px 0 0 0;
  font-size: 1.5em;
  padding: 10px;
  border: none;
  border-radius: 3px;
}
.meat .cta-btn:hover,
.meat .cta-btn:focus {
  background: #cc3030;
  color: #f5dc97;
  box-shadow: 3px 3px #8D0003;
}
.meat:nth-child(even) .text {
  float: right;
}
.meat:nth-child(odd) {
  background: #f5dc97;
}
.meat:nth-child(odd) h2 {
  color: #cc3030;
}
.meat:nth-child(odd) .cta-btn {
  background: #cc3030;
  color: #f5dc97;
  box-shadow: 3px 3px #8D0003;
}
.meat:nth-child(odd) .cta-btn:hover, .meat:nth-child(odd) .cta-btn:focus {
  background: #f5dc97;
  color: #cc3030;
  box-shadow: 3px 3px #bba563;
}
.meat:nth-child(odd) .image-wrap {
  float: right;
}

/* Meats
------------------------*/
.hero {
  padding: 36px 0;
  background: #f5dc97;
  display: table;
  content: "";
  clear: both;
}
.hero h1 {
  color: #cc3030;
  font: 2.5em "Leckerli One", cursive;
}
.hero .tagline {
  font-family: "Leckerli One", cursive;
}
.hero > div {
  padding: 0 48px;
}
.hero .image,
.hero .content {
  float: left;
  width: 50%;
  height: 100%;
}
.hero .image {
  border-right: 1px solid #000;
}
.hero .content .site-name {
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 1000px) {
  .hero .image,
.hero .content {
    width: 100%;
  }

  .hero .image {
    border-right: none;
  }
}
article.menu {
  position: relative;
  z-index: 1;
  display: table;
  content: "";
  clear: both;
}
article.menu .entry-header {
  padding: 1em;
  font-family: "Leckerli One", cursive;
  text-align: center;
}
article.menu .entry-header .entry-description {
  font-size: 1.2em;
}
article.menu section {
  float: left;
  width: 33.33%;
  padding: 2em 4em;
  font-weight: 300;
  color: #444;
}
article.menu section:nth-child(3) {
  background: #fffff0;
  color: #000;
}
article.menu section h3 {
  font-family: "Leckerli One", cursive;
}

@media screen and (max-width: 1000px) {
  article.menu section {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  article.menu section {
    width: 100%;
  }
}
.newsletter {
  background: #444;
  color: #fff;
  text-align: center;
  padding: 48px;
  clear: both;
  position: relative;
  box-shadow: 0 10px 10px #aaa;
  border-top: 8px solid #f5dc97;
}
.newsletter header {
  text-align: center;
}
.newsletter .border-container {
  position: absolute;
  display: flex;
  top: 4px;
  left: 0;
  width: 100%;
}
.newsletter .slant {
  position: relative;
  flex: 1;
}
.newsletter .slant:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  left: 0;
  top: -5px;
  background: #cc3030;
  transform: rotate(-60deg);
  animation: slide 1s linear infinite;
}
.newsletter input[type=email],
.newsletter input[type=submit] {
  font-size: 1.5em;
  padding: 10px;
  border: none;
  border-radius: 3px;
}
.newsletter input[type=email] {
  min-width: 400px;
  overflow: hidden;
  margin: 0 5px 0 0;
}
.newsletter input[type=submit] {
  position: relative;
  top: -2px;
  background: #f5dc97;
  color: #cc3030;
  font-family: "Leckerli One", cursive;
  box-shadow: 3px 3px #bba563;
  transition: 0.2s all;
  margin: 10px 0 0 0;
}
.newsletter input[type=submit]:focus,
.newsletter input[type=submit]:hover {
  background: #cc3030;
  color: #f5dc97;
  box-shadow: 3px 3px #8D0003;
}
.newsletter p {
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .newsletter input[type=email] {
    min-width: auto;
    max-width: 100%;
  }
}
@keyframes slide {
  to {
    left: 100%;
  }
}
.butcher {
  display: table;
  content: "";
  clear: both;
  /*
  .panel-left{
      width: 100%;
      height: 600px;
      background-image: url('../img/cubed-meat.jpg');
      background-size: cover;
  }

  .panel-right{
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('../img/salmon.jpg');
      background-size: cover;
      transform: skewX(-15deg);
      transform-origin: bottom right;
      height: 100%;
      width: 60%;
  }

  .panel-left:after{
      content: '';
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
      background: transparent;
      transform:skewX(45deg);
  }*/
}
.butcher header {
  text-align: center;
  /*
  a{  
      color: colors.$color__red-one;
      transition: none;

      &:before{
          z-index: 1;
          background: white;
          top: 100%;
      }

      &:hover::before{
          transition: none;
          height: 4px;
      }
  }*/
}
.butcher .butcher-content-wrap {
  display: table;
  content: "";
  clear: both;
  width: 100%;
  position: relative;
  min-height: 600px;
}
.butcher .slidein-panel {
  background-repeat: no-repeat;
  height: 100%;
  float: left;
  width: 50%;
  position: relative;
  opacity: 0;
  transform: translate(0, 75%);
}
@keyframes slideUp {
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.butcher .slidein-panel.translated {
  animation: slideUp 0.5s ease forwards;
}
.butcher .slidein-panel.translated:nth-child(even) {
  animation-duration: 0.7s;
}
.butcher .slidein-panel:after {
  position: absolute;
  content: "";
  top: 0;
  height: 0;
  width: 0;
}
.butcher .panel:after {
  position: absolute;
  content: "";
}
.butcher .panel-left {
  height: 600px;
  background-image: url("../img/cubed-meat.jpg");
  background-size: cover;
}
.butcher .panel-left:after {
  right: 0;
  border-bottom: 600px solid #fff;
  border-left: 120px solid transparent;
}
.butcher .panel-right {
  background-image: url("../img/salmon.jpg");
  background-size: cover;
  height: 600px;
}
.butcher .panel-right:after {
  left: 0;
  border-top: 600px solid #fff;
  border-right: 120px solid transparent;
}
@media all and (max-width: 600px) {
  .butcher .slidein-panel {
    width: 96%;
    margin: 1% 2%;
  }
  .butcher .panel-left:after {
    border-left: 40px solid transparent;
  }
  .butcher .panel-right:after {
    border-right: 40px solid transparent;
  }
}

.questionnaire {
  background: #f5dc97;
}
.questionnaire header {
  text-align: center;
}
.questionnaire .entry-content {
  padding: 0 100px;
}
@media all and (max-width: 1260px) {
  .questionnaire .entry-content {
    padding: 0;
  }
}
.questionnaire form {
  height: 500px;
  overflow: hidden;
  transition: 0.5s all;
}
.questionnaire .is-moved .question-wrap:first-child {
  margin-left: 0;
}
.questionnaire .question-wrap {
  float: left;
  height: 400px;
  padding: 10px;
  width: 30%;
  margin: 90px 1.66% 10px;
  font-size: 16px;
  padding: 1em;
  color: #000;
  box-shadow: 5px 5px 10px 0px #bba563;
  transition: 0.5s all;
}
.questionnaire .question-wrap.no-width {
  width: 0;
  padding: 0;
  margin: 0;
}
.questionnaire .question-wrap:first-child {
  margin-left: 33.33%;
}
.questionnaire .question-wrap div {
  margin: 12px 0;
}
.questionnaire .question-wrap fieldset {
  border: none;
}
.questionnaire .question-wrap legend {
  font-family: "Leckerli One", cursive;
  font-size: 1.6em;
  color: #cc3030;
}
.questionnaire .question-wrap input {
  position: absolute;
  left: -9999px;
}
.questionnaire .question-wrap.is-high {
  margin-top: 10px;
}
.questionnaire .question-wrap label {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1em;
  position: relative;
  padding: 8px 20px 8px 80px;
  display: block;
}
.questionnaire .question-wrap label:before, .questionnaire .question-wrap label:after {
  content: "";
  position: absolute;
  background: #f5dc97;
  border-radius: 50%;
}
.questionnaire .question-wrap label:before {
  width: 1em;
  height: 1em;
  top: 0.2em;
  left: 0.2em;
  border: 2px solid #000000;
}
.questionnaire .question-wrap label:after {
  width: 1em;
  height: 1em;
  top: 0.2em;
  left: 0.2em;
  background: #000;
  transform: scale(0);
  transition: 0.4s all;
}
.questionnaire .question-wrap input[type=radio] + label:hover {
  box-shadow: 2px 2px 4px 0 #bba563;
  transition: 0.2s all;
}
.questionnaire .question-wrap input[type=radio]:checked + label:after {
  transform: scale(1);
}
.questionnaire .buttons {
  text-align: center;
}
.questionnaire .buttons button {
  background: #000;
  color: #f5dc97;
  border: 2px solid #000;
  border-radius: 5px;
  width: 100px;
  font: 700 1em "Leckerli One", cursive;
  padding: 0.5em;
  margin: 5px;
  transition: 0.3s all;
  box-shadow: 3px 3px #bba563;
}
.questionnaire .buttons button:hover, .questionnaire .buttons button:focus {
  background: #f5dc97;
  color: #000;
  outline: none;
}
.questionnaire .buttons button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.questionnaire .buttons .submit-btn {
  background: #fff;
  color: #cc3030;
  box-shadow: 3px 3px #777;
  border: none;
  width: 210px;
}
.questionnaire .buttons .submit-btn:hover, .questionnaire .buttons .submit-btn:focus {
  color: #fff;
  background: #cc3030;
}
.questionnaire .buttons .submit-btn:disabled,
.questionnaire .buttons .submit-btn:disabled:hover,
.questionnaire .buttons .submit-btn:disabled:focus {
  background: #ddd;
  color: #777;
}
.questionnaire .buttons .submit-btn:disabled:active,
.questionnaire .buttons .submit-btn:disabled:hover:active,
.questionnaire .buttons .submit-btn:disabled:focus:active {
  transform: none;
}
.questionnaire .results-container {
  padding: 15px 0 0;
}
.questionnaire .results-container .status,
.questionnaire .results-container .results {
  font-family: "Leckerli One", cursive;
  text-align: center;
}
.questionnaire .results-container .status p,
.questionnaire .results-container .results p {
  margin: 0.5em;
}
.questionnaire .results-container .status.large-text,
.questionnaire .results-container .results.large-text {
  font-size: 1.8em;
}
.questionnaire .results-container .status p.recommendation,
.questionnaire .results-container .results p.recommendation {
  color: #cc3030;
  text-shadow: 1px 1px #8D0003;
  font-size: 2.2em;
}
.questionnaire .results-container .status img,
.questionnaire .results-container .results img {
  max-width: 800px;
}
.questionnaire .results-container .results {
  opacity: 0;
  transition: 0.5s all;
}
.questionnaire .results-container .results.show {
  opacity: 1;
}
@media all and (max-width: 750px) {
  .questionnaire .results-container {
    width: auto;
  }
}
.questionnaire .loader {
  position: relative;
  width: 100%;
  height: 100px;
}
.questionnaire .loader .bottom {
  top: 30px;
  left: calc(50% - 50px);
}
.questionnaire .loader .top,
.questionnaire .loader .bottom,
.questionnaire .loader .middle {
  position: absolute;
  content: "";
  border-radius: 50%;
}
.questionnaire .loader .bottom {
  width: 100px;
  height: 100px;
  background: black;
  animation: 4s change linear infinite;
}
.questionnaire .loader .middle {
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  background: #cc3030;
  transform-origin: bottom;
  animation: 2s spin-middle linear infinite;
  z-index: 2;
}
.questionnaire .loader .top {
  width: 100px;
  height: 50px;
  background: #000;
  border-radius: 100px 100px 0 0;
  z-index: 3;
  animation: 4s spin-top 1s linear infinite;
  transform-origin: bottom;
}
@keyframes spin-middle {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-top {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media all and (max-width: 1060px) {
  .questionnaire .question-wrap {
    width: 47%;
    margin: 90px 1.3% 10px;
  }
  .questionnaire .question-wrap:first-child {
    margin-left: 0;
  }
}
@media all and (max-width: 750px) {
  .questionnaire form {
    height: 420px;
  }
  .questionnaire .question-wrap {
    width: 97%;
    margin: 10px 0;
  }
}

/* Hero Section */
/* Menu Section */
/*Newsletter Sign up Section*/
/* Butcher */
/* Questionnaire */
footer.site-footer {
  color: #444;
  padding: 100px 200px 0;
}
@media all and (max-width: 1000px) {
  footer.site-footer {
    padding: 10px;
  }
}
footer.site-footer .location {
  width: 100%;
}
footer.site-footer .location:after {
  display: table;
  content: "";
  clear: both;
}
footer.site-footer .location p {
  margin: 0;
}
footer.site-footer .address-and-hours,
footer.site-footer .map {
  float: left;
  width: 50%;
  margin: 0 0 25px;
}
@media all and (max-width: 1000px) {
  footer.site-footer .address-and-hours,
footer.site-footer .map {
    width: 100%;
  }
}
footer.site-footer .address-and-hours {
  font-weight: 300;
}
footer.site-footer .address-and-hours h2 {
  color: #cc3030;
}
footer.site-footer .address-and-hours h3 {
  font-family: "Open Sans", helvetica, sans-serif;
  font-weight: 300;
}
footer.site-footer .address-and-hours .em {
  font-family: "Leckerli One", cursive;
  font-weight: 600;
}
footer.site-footer .map {
  min-height: 400px;
}
footer.site-footer .credits {
  margin-top: 25px;
  padding: 1em 0;
  border-top: 1px solid #888;
  color: #444;
  font-size: 0.8em;
}
footer.site-footer .credits p {
  margin: 0;
}

/* Base
--------------------------------*/
/* Header
--------------------------------*/
/* Navigation
--------------------------------*/
/* Content
--------------------------------*/
/* Front Page
--------------------------------*/
/* Footer
---------------------------------*/

/*# sourceMappingURL=style.css.map */
