$color__yellow-one: #f5dc97;
$color__yellow-two: #bba563;

$color__yellow-gray: #fffff0;

$color__red-one: #cc3030;
$color__red-two: #8D0003;

$color__black: #000;

$color__gray-f0: #f0f0f0;
$color__gray-44: #444;