@use '../../abstracts/fonts/fonts';
@use '../../abstracts/colors/colors';
@use '../../abstracts/mixins/mixins';

.newsletter{
    background: #444;
    color: #fff;
    text-align: center;
    padding: 48px;
    clear: both;
    position: relative;
    box-shadow: 0 10px 10px #aaa;
    border-top: 8px solid colors.$color__yellow-one;

    header{
        text-align: center;
    }

    .border-container{
        position: absolute;
        display: flex;
        top: 4px;
        left: 0;
        width: 100%;
    }

    .slant{
        position: relative;
        flex: 1;
    }

    .slant:after{
        position: absolute;
        content: '';
        width: 20px;
        height: 4px;
        left: 0;
        top: -5px;
        background: colors.$color__red-one;
        transform: rotate(-60deg);
        animation: slide 1s linear infinite
    }

    input[type=email],
    input[type=submit]{
        @include mixins.button-base()
    }

    input[type=email]{
        min-width: 400px;
        overflow: hidden;
        margin: 0 5px 0 0;
    }

    input[type=submit]{
        @include mixins.cta-btn();
        //background: colors.$color__red-one;
    }

    input[type=submit]:focus,
    input[type=submit]:hover{
        @include mixins.cta-btn-hover();
    }

    p{
        font-weight: 300;
    }
}

@media screen and ( max-width: 600px ){
    .newsletter input[type=email]{
        min-width: auto;
        max-width: 100%;
    }
}

@keyframes slide{
    to{
        left: 100%;
    }
}