footer.site-footer
  .location
    .address-and-hours
      .address
        h2 Location
        p 123 Main Street, 
        p Kearny, NJ 07032
      .hours
        h2 Hours
        h3 Weekdays
        p 11:00 AM to 9:00PM (Bar until 11:00PM)
        h3 Weekends
        p <span class="em">Brunch</span> 8:00AM to Noon
        p <span class="em">Regular Menu</span> Noon to 9:00PM (Bar until Midnight)
    .map#map
      img(src='../img/satomap.png')
  .credits
    p &copy; 2020 Satriale's
    

  