@use '../../abstracts/colors/colors';
@use '../../abstracts/mixins/mixins';

.main-navigation{
    float: right;
    padding-top: 40px;

    ul{
        &:after{
            @include mixins.clearfix();
        }
        transition: .5s height;
    }

    li{
        position: relative;
        float: left;

        .menu-icon{
            position: absolute;
            height: 2.2em;
            top: .1em;
            left: .2em;
        }

        &:nth-child(3){
            /*
            &>a{
                padding-left: 2em;
            }
*/
            .menu-icon{
                height: 1.8em;
                top: .3em;
            }
        }

        &:hover img{
            animation: .5s shake steps(2,end) infinite;
            transform-origin: center;
        }
    }

    &:hover a{
        color: #fff;
    }

    a{
        display: block;
        font-weight: 600;
        text-decoration: none;
        color: colors.$color__yellow-one;
        padding: 10px 1em 10px 2.5em;
        border-bottom: 5px solid #444;
        outline: none;
        transition: .2s color;
        font-weight: 700;

        &:hover,
        &:focus{
            border-bottom: 5px solid colors.$color__yellow-one;
            color: colors.$color__yellow-one;
        }

        &:hover + .submenu,
        &:focus + .submenu{
            left: auto;
            //top: calc(100% + 10px);
            top: 100%;
        }
    }

    i{
        margin: 0 0 0 .5em;
    }

    .submenu{
        position: absolute;
        left: -9999px;
        top: 180%;
        width: 100%;
        background: #444;
        transition: .2s top;
        z-index: 1;
        
        &:after{
            @include mixins.clearfix();
        }

        &:hover,
        &:focus{
            //top: calc(100% + 10px);
            top: 100%;
            left: auto;
        }

        li{
            float: none;
        }

        a{
            border: none;
            &:before{
                content: none;
            }
            &:first-child{
                padding: 20px 1.75em 10px
            }
        }
    }
        
    @media all and (max-width: 1100px){
        &{
            width: 100%;
            text-align: center;
        }
    }

    @media all and (max-width: 530px){
        /*&{
            position: absolute;
            left: -9999px;
        }*/

        padding: 0;
        
        &>ul{
            position: absolute;
            height: 0;
            overflow: hidden;
            transition: .5s height;
            background: #333;
            width: 100%;
        }

        ul ul.submenu{
            left: 0px;
            position: relative;
            display: block;
            padding-left: 3em;
            background: #444;

            a{
                border-bottom: none;
                &:hover,
                &:focus{
                    color: colors.$color__yellow-one;
                }
            }
        }

        a {
            i{
                display: none;
            }

            border-bottom: none;

            &:hover,
            &:focus{
                //border-bottom: 5px solid #444;
                border-bottom: none;
                color: colors.$color__yellow-one;
            }
        }

        li{
            float: none;

            a{
                text-align: left;
                padding-left: 3em;
            }

            &:nth-child(3) a{
                padding-left: 3em;
            }
        }

        &.toggled{
            position: relative;
            left: 0;

            li{
                //float: none;

                a{
                    text-align: left;
                }
            }
        }
    }
}

@keyframes shake{
    to{
        transform: rotate(25deg);
    }
}